body {
    background-color: gray;
}

#my-header {
    background-color: lightblue !important;
}

#my-about {
    background-color: lightblue !important;
}

#top {
    background-color: lightskyblue !important;
}